<div>
    <h2 id="page-heading">
        <span>Aluguels</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-aluguel" [routerLink]="['/aluguel/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Aluguel
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="aluguels">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Data Retirada</span></th>
            <th><span>Data Prev Devolucao</span></th>
            <th><span>Data Real Devolucao</span></th>
            <th><span>Valor Locacao</span></th>
            <th><span>Cliente Id</span></th>
            <th><span>Veiculo Id</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let aluguel of aluguels ;trackBy: trackId">
                <td><a [routerLink]="['/aluguel', aluguel.id, 'view' ]">{{aluguel.id}}</a></td>
                <td>{{aluguel.data_retirada | date:'mediumDate'}}</td>
                <td>{{aluguel.data_prev_devolucao | date:'mediumDate'}}</td>
                <td>{{aluguel.data_real_devolucao | date:'mediumDate'}}</td>
                <td>{{aluguel.valor_locacao}}</td>
                <td>
                    <div *ngIf="aluguel.cliente_idId">
                        <a [routerLink]="['../cliente', aluguel.cliente_idId , 'view' ]" >{{aluguel.cliente_idCliente_id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="aluguel.veiculo_idId">
                        <a [routerLink]="['../veiculo', aluguel.veiculo_idId , 'view' ]" >{{aluguel.veiculo_idVeiculo_id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/aluguel', aluguel.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/aluguel', aluguel.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'aluguel/'+ aluguel.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
