<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-veiculo-heading">Create or edit a Veiculo</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!veiculo.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="veiculo.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_marca">Marca</label>
                    <input type="text" class="form-control" name="marca" id="field_marca"
                        [(ngModel)]="veiculo.marca" required/>
                    <div [hidden]="!(editForm.controls.marca?.dirty && editForm.controls.marca?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.marca?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_modelo">Modelo</label>
                    <input type="text" class="form-control" name="modelo" id="field_modelo"
                        [(ngModel)]="veiculo.modelo" required/>
                    <div [hidden]="!(editForm.controls.modelo?.dirty && editForm.controls.modelo?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.modelo?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_ano">Ano</label>
                    <input type="text" class="form-control" name="ano" id="field_ano"
                        [(ngModel)]="veiculo.ano" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_categoria">Categoria</label>
                    <input type="text" class="form-control" name="categoria" id="field_categoria"
                        [(ngModel)]="veiculo.categoria" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_valor_diaria">Valor Diaria</label>
                    <input type="number" class="form-control" name="valor_diaria" id="field_valor_diaria"
                        [(ngModel)]="veiculo.valor_diaria" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
